<!DOCTYPE html>
<html>
  <head>
    <title> Suzie Kim </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="main-header">
      <nav class="main-nav">
        <div class="logo" class="main-nav_item"> SK </div>
          <ul class="main-nav_links"  class="main-nav_items">
            <li class="main-nav_link"><a href="#"> ✩ resume </a></li>
            <li class="main-nav_link"><a href="#"> ✩ about me </a></li>
          </ul>
      </nav>
    </header>
      <%= render 'layouts/alerts' %>
    <%= yield %>
  </body>
</html>
